{% extends 'base.html' %}

{% block title %}Create a Circle{% endblock %}

{% set page_title = "Create Circle" %}

{% block content %}

<div class="container">

    <section>
        <div class="container py-5 h-120 mb-4">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-8">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                           
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
</div>

{% endblock %}
