{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<style>
  /* body {
    overflow: hidden; 
  } */

  footer {
    color: white;
  }
</style>

<body>

  <div class="col-lg-10 mx-auto p-3 py-md-3">
    <header class="d-flex align-items-center pb-1 mb-4 border-bottom">
      <img src="{{ url_for('static', filename='./photos/site_photos/bigW2.png') }}" alt="W" height="50px">
      <span class="fs-4 ms-3">Weekly Weigh-In</span>
    </header>

    <main>
      <div class="row">
        <!-- Column for text and button -->
        <div class="col-md-6">
          <h1>Start your fitness journey today</h1>
          <p class="fs-5">
            Start reaching your fitness goals quickly and effortlessly with Weekly Weigh-In. Whether you're looking to
            lose
            weight, build muscle, or maintain your ideal physique, our website is designed to support your journey.
            In a world where fitness goals are more important than ever, Weekly Weigh-In provides the tools and
            motivation you need to stay on track and succeed.
          </p>
          <p class="fs-5">Click the button below to start</p>

          <div class="mb-4">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('calorie_tracker') }}" class="btn btn-outline-light btn-lg px-5 mt-5">Hit Your Goals
              Now</a>
            {% else %}
            <a href="{{ url_for('register') }}" class="btn btn-outline-light btn-lg px-5 mt-5">Hit Your Goals Now</a>
            {% endif %}
          </div>
        </div>

        <!-- Column for carousel -->
        <div class="col-md-6">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="max-width: 800px;">
            <div class="carousel-inner">
              <!-- First Carousel Item -->
              <div class="carousel-item active" data-bs-interval="2000">
                <img src="{{ url_for('static', filename='./photos/site_photos/gym.png') }}" class="d-block mx-auto w-50"
                  alt="Image 1">
              </div>
              <!-- Second Carousel Item -->
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{{ url_for('static', filename='./photos/site_photos/bigW.png') }}" class="d-block mx-auto w-50"
                  alt="Image 2">
              </div>
              <!-- Third Carousel Item -->
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='./photos/site_photos/bigW2.png') }}" class="d-block mx-auto w-50"
                  alt="Image 3">
              </div>
            </div>
            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>



        <hr class="col-4 col-md-3 mb-0 mt-1">

        <div class="row g-5 mt-0">
          <div class="col-md-6">
            <h2>Fitness Circles</h2>
            <p>Fitness Circles is your ultimate hub for achieving fitness goals together! Build supportive groups,
              track progress, and share milestones with friends and family. Whether you're competing,
              collaborating, or just staying motivated, Fitness Circles makes your journey more fun, engaging, and
              rewarding.
              Connect, inspire, and grow stronger together with Fitness Circles by
            </p>
            <ul class="icon-list">
              <li>Creating personalized fitness groups</li>
              <li>Tracking your workouts and progress</li>
              <li>Setting goals and sharing milestones</li>
              <li>Getting real-time encouragement from friends and family</li>
            </ul>
          </div>

          <div class="col-md-6">
            <h2>Routines</h2>
            <p>Routines is your go-to tool for building consistency in your fitness journey. 
              Whether you're starting a new fitness plan or enhancing your current routine, Routines helps you stay organized, 
              motivated, and on track toward achieving your goals. Create personalized workout plans 
              and track your progress as you turn daily habits into lasting results.  
              Stay organized, stay committed, and see the results you've always wanted by</p>
            <ul class="icon-list">
              <li>Creating personalized workout plans</li>
              <li>Tracking progress and seeing your results over time</li>
              <li>Accessing habit-building tips for lasting success</li>
            </ul>
          </div>
          
    </main>

    <footer class="pt-5 my-5 border-top mt-3">
      Created by Rocco Vulpis · © 2024
    </footer>
  </div>

  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

{% endblock %}